{
  "SESSION_SECRET": "RxrZG+Gtn37AOGMvzswXLLCuW1ZUYWSriecBnsfrlTLVgAP6tBATzmoG47gTvLQqVnLK2J+GOEWG9TnVKABeWg==",
  "DATABASE_URL": "postgresql://neondb_owner:npg_Y5bjCtRVmfo6@ep-rough-king-a5pd2psr.us-east-2.aws.neon.tech/neondb?sslmode=require",
  "PGDATABASE": "neondb",
  "PGHOST": "ep-rough-king-a5pd2psr.us-east-2.aws.neon.tech",
  "PGPORT": "5432",
  "PGUSER": "neondb_owner",
  "PGPASSWORD": "npg_Y5bjCtRVmfo6",
  "SLERF_CONTRACT_ADDRESS": "0x233df63325933fa3f2dac8e695cd84bb2f91ab07",
  "PROJECT_ID": "b03330f580b1195f92acd14d9e852c7b",
  "VITE_HOST": "127.0.0.1"
   "BASE_URL". https://base.gateway.tenderly.co/1cAI6rLkKToMdpKceTtTAe
